<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uw.hcde.fizzlab.trace">

    <application
        android:icon="@drawable/app_launcher"
        android:label="@string/label_app_name"
        android:theme="@style/AppTheme"

        >

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/label_app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Draw activity -->
        <activity
            android:name=".draw.DrawActivity"
            android:label="@string/label_activity_draw"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>
