<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uw.hcde.fizzlab.trace">


    <!-- ============================================ -->
    <!-- ======= Permissions  ======================= -->
    <!-- ============================================ -->

    <uses-permission android:name="android.permission.INTERNET" />
    <permission
        android:name="com.javapapers.android.maps.path.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />


    <!-- Application and activities-->
    <application
        android:name=".controller.main.TraceApplication"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:theme="@style/HoloTheme">


        <!-- ============================================ -->
        <!-- ======= Entry point related activities ===== -->
        <!-- ============================================ -->
        <!-- Dispatch sign up or main activity -->
        <activity
            android:name=".controller.main.DispatchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome screen -->
        <activity
            android:name=".controller.main.WelcomeActivity"
            android:label="@string/welcome"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <!-- Sign up screen -->
        <activity
            android:name=".controller.main.SignUpActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <!-- Main activity -->
        <activity
            android:name=".controller.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <!-- ============================================ -->
        <!-- ======= Draw related activities ============ -->
        <!-- ============================================ -->
        <!-- Draw activity -->
        <activity
            android:name=".controller.draw.DrawActivity"
            android:label="@string/draw"
            android:screenOrientation="portrait" />

        <!-- Annotate activity -->
        <activity
            android:name=".controller.draw.AnnotationActivity"
            android:label="@string/annotate"
            android:screenOrientation="portrait" />


        <!-- ============================================ -->
        <!-- ======= Walk related activities ============ -->
        <!-- ============================================ -->

        <activity
            android:name=".controller.walk.ChooseDurationActivity"
            android:label="@string/choose_distance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.walk.ChooseDrawingActivity"
            android:label="@string/choose_drawing"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.map.PathGoogleMapActivity"
            android:label="@string/map"
            android:screenOrientation="portrait" />

        <!-- Map related meta-data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCquKZ4yQgjnMPPdWmexfkp1-Zipc_vZjw" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- ============================================ -->
        <!-- ======= Profile related activities ============ -->
        <!-- ============================================ -->
        <!-- Profile activity -->
        <activity
            android:name=".controller.profile.ProfileActivity"
            android:label="@string/you"
            android:screenOrientation="portrait" />
    </application>

</manifest>
