<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uw.hcde.fizzlab.trace">

    <!--<compatible-screens>-->
    <!--&lt;!&ndash; all normal size screens &ndash;&gt;-->
    <!--<screen-->
    <!--android:screenDensity="ldpi"-->
    <!--android:screenSize="normal" />-->
    <!--<screen-->
    <!--android:screenDensity="mdpi"-->
    <!--android:screenSize="normal" />-->
    <!--<screen-->
    <!--android:screenDensity="hdpi"-->
    <!--android:screenSize="normal" />-->
    <!--<screen-->
    <!--android:screenDensity="xhdpi"-->
    <!--android:screenSize="normal" />-->
    <!--</compatible-screens>-->


    <!-- ============================================ -->
    <!-- ======= Permissions  ======================= -->
    <!-- ============================================ -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.uw.hcde.fizzlab.trace.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.uw.hcde.fizzlab.trace.permission.C2D_MESSAGE" />


    <!-- Application and activities-->
    <application
        android:name=".main.TraceApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HoloTheme">


        <!-- ============================================ -->
        <!-- ======= Entry point related activities ===== -->
        <!-- ============================================ -->
        <!-- Dispatch sign up or main activity -->
        <activity
            android:name=".main.DispatchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome screen -->
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:label="@string/welcome"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />

        <!-- Main activity -->
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <!-- ============================================ -->
        <!-- ======= Draw related activities ============ -->
        <!-- ============================================ -->
        <!-- Draw activity -->
        <activity
            android:name=".ui.drawing.DrawActivity"
            android:label="@string/draw"
            android:screenOrientation="portrait" />

        <!-- ============================================ -->
        <!-- ======= Walk related activities ============ -->
        <!-- ============================================ -->

        <activity
            android:name=".ui.walking.ChooseWalkActivity"
            android:label="@string/choose_distance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".navigation.MapActivity"
            android:label="@string/map"
            android:screenOrientation="portrait" />

        <!-- Map related meta-data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBzZaCkeOmIK9OIZJUBObCLqEq4BjjHfR8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- ============================================ -->
        <!-- ======= Profile related activities ============ -->
        <!-- ============================================ -->
        <!-- Profile activity -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/profile"
            android:screenOrientation="portrait" />


        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.uw.hcde.fizzlab.trace" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.uw.hcde.fizzlab.trace.main.Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <!--notification icon setting-->
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/push_ic" />
    </application>

</manifest>
